@font-face {
  font-family: AgencyFB;
  src: url(fonts/agency_fb.ttf);
}

@font-face {
  font-family: AgencyFB_Bold;
  src: url(fonts/agency_fb_bold.ttf);
}

body {
  background-color: #333333;
}

.main {
}

.roverInfo {
  position: absolute;
  top: 70%;
  color: #FFFFFF;
}

.roverNumberTitle {
  font-family: agencyFB;
  font-size: 150%;
  left:25%;
}

.roverNumber {
  font-family: agencyFB_Bold;
  font-size: 150%;
  left:31%;
}

.roverIPPort {
  position: absolute;
  color: #FFFFFF;
  top: 70.5%;
  font-family: agencyFB;
  font-size: 140%;
}

.roverIP {
  left: 65%;
}

.roverPort {
  left: 73%;
}

.subtitle {
  position: absolute;
  left: 42%;
  top: 25%;
  font-family: agencyFB_Bold;
  font-size: 200%;
  color: #FFFFFF;
}

.cameraInfo {
  position: absolute;
  left: 18%;
  font-size: 175%;
  color: #FFFFFF;
}

.camNameTitle {
  font-family: AgencyFB;
  top: 16%;
}

.camName {
  font-family: AgencyFB_Bold;
  top: 20%;
}

.objDistTitle {
  font-family: AgencyFB;
  top: 28%;
}

.objDist {
  font-family: AgencyFB_Bold;
  top: 31%;
}

.posServoTitle {
  font-family: AgencyFB;
  top: 38%;
}

.posServo {
  font-family: AgencyFB_Bold;
  top: 42%;
}

.videoStreamer {
  width:53%;
  height:50%;
  position: absolute;
  left: 25%;
  top:20%;
  border: 5px solid #FFFFFF;
}

.lineNavigation {
  width:15%;
  height:30%;
  position: absolute;
  left: 80%;
  top:20%;
  border: 5px solid #FFFFFF;
}

.logo {
  width: 4%;
  height: 10%;
  position: absolute;
  left: 50%;
  top: 6%;
}

.HVAlogo {
  width: 2.5%;
  height: 5%;
  position: absolute;
  left: 45%;
  top: 85%;
}

.HVAText {
  width: 10%;
  height: 5%;
  position: absolute;
  left: 48%;
  top: 85%;
}

.menu {
    width: 20%;
    height: 24%;
    position: absolute;
    top: 35%;
    left: 42%;
    overflow-y: auto;
}

.menu a {
    background-color: #eee;
    font-family: AgencyFB;
    font-size: 180%;
    color: black;
    display: block;
    border: 1px solid #333333;
    padding: 3% 7%;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ccc;
}

.menu a.active {
    background-color: #4CAF50;
    color: white;
}

.micButton {
  height: 70px;
  width: 70px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("images/mic.png");
  position: absolute;
  left: 80%;
  top: 53%;
  color: #FFFFFF;
  font-family: AgencyFB_Bold;
  font-size: 200%;
  border: none;
}

.micButton:hover {
  background-repeat: no-repeat;
  background-image: url("images/micpress.png");
  background-color: #FFFFFF;
}

.connectButton {
  height: 10%;
  width: 20%;
  background-color: #333333;
  position: absolute;
  left: 42%;
  top: 62%;
  color: #FFFFFF;
  font-family: AgencyFB_Bold;
  font-size: 200%;
  border: 5px solid #FFFFFF;
}

.connectButton:hover {
  background-color: #FFFFFF;
  color: #333333;
}

::-webkit-scrollbar {
    width: 1%;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #000000;
}
