
<html>

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SR1 Rover</title>
        <link rel="icon" href="fotowebsite/icon.png">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='design.css')}}">
</head>

<body>

<div class="main">

<header>
<a href="#"><img class="logo" src="{{url_for('static', filename='images/Veelhoek121.png')}}" alt="Rover Logo"></a>
</header>
<section>

<div>
<p class="subtitle">SELECT ROVER</p>
<div class="menu">
  <a id="rover1">ROVER 1</a>
  <a id="rover2">ROVER 1</a>
  <a id="rover3">ROVER 1</a>
  <a id="rover4">ROVER 1</a>
</div>
<a id="connect" href="{{url_for('ControlPage')}}"><button type="button" class="connectButton">CONNECT</button></a>
</div>

</section>

<footer>
<img class="HVAlogo" src="{{url_for('static', filename='images/AUASlogo.png')}}" alt="AUAS Logo">
<img class="HVAText" src="{{url_for('static', filename='images/AmsterdamUniversityo.png')}}" alt="Amsterdam University">
</footer>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='roverSetup.js')}}"></script>
</body>

</html>
