@font-face {
  font-family: AgencyFB;
  src: url(fonts/agency_fb.ttf);
}

@font-face {
  font-family: AgencyFB_Bold;
  src: url(fonts/agency_fb_bold.ttf);
}

body {
  background-color: #333333;
}

.main {
}

.subtitle {
  position: absolute;
  left: 42%;
  top: 25%;
  font-family: agencyFB_Bold;
  font-size: 200%;
  color: white;
}

.logo {
  width: 5%;
  height: 10%;
  position: absolute;
  left: 50%;
  top: 6%;
}

.HVAlogo {
  width: 2.5%;
  height: 5%;
  position: absolute;
  left: 45%;
  top: 85%;
}

.HVAText {
  width: 10%;
  height: 5%;
  position: absolute;
  left: 48%;
  top: 85%;
}

.menu {
    width: 20%;
    height: 24%;
    position: absolute;
    top: 35%;
    left: 42%;
    overflow-y: auto;
}

.menu a {
    background-color: #eee;
    font-family: AgencyFB;
    font-size: 180%;
    color: black;
    display: block;
    border: 1px solid #333333;
    padding: 3% 7%;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ccc;
}

.menu a.active {
    background-color: #4CAF50;
    color: white;
}

.button {
  height: 10%;
  width: 20%;
  background-color: #333333;
  position: absolute;
  left: 42%;
  top: 62%;
  color: white;
  font-family: AgencyFB_Bold;
  font-size: 200%;
  border: 5px solid #FFFFFF;
}

::-webkit-scrollbar {
    width: 1%;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #000000;
}
