.vertical-menu {
    width: 200px; /* Set a width if you like */
    min-height: 100vh;
    top: 0px;
    left: 0px;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    height: 100vh;
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #222222; /* Add a green color to the "active/current" link */
    color: white;
}
.nav-pills {
    display: flex;
}
.nav-pills>li>a {
    height: 100%;
    display:flex !important;
    align-items:center;
}